@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
ol,
div {
    margin: 0;
    padding: 0;
}

:root {
    --Montserrat: "Montserrat", sans-serif;
}

.fullWrapper {
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    row-gap: 30px;
}

.count {
    padding: 10px 15px;
    background: yellow;
    color: black;
    font-size: 80px;
    font-family: var(--Montserrat);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn {
    padding: 15px 25px;
    font-size: 18px;
    color: black;
    border: 1 px solid #000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 10px;
    background: none;
    cursor: pointer;
}